# build products
bin/
bin-int/

.vscode/
export_compile_commands.sh

# premake products
Makefile
vsstl/Makefile
sandbox/Makefile

# clangd stuff
debug/
test/
release/
dist/
compile_commands.json
.clangd/

